body {
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .main-header {
    color: black;
  }
  h1
{text-align: center;}
  .background {
    background-image: url();
    padding: 10px 5px;
  }