body {
 margin-top: 50px;
 font-family: 'Lato', sans-serif;
  }
  .main-header {
    color: white;
    font-family: 'Cinzel', serif;
   background-image: url(imgs/background.jpg);
   background-position: center ;
   background-size:cover ;
   height: 50vh;
   font-size: 90px;
   text-align: center;
   letter-spacing: 10px;
  }
  .subheader {
    color: black;
  }
  h1 {
    padding-top: 40vh;
  }
  .background {
    background-image: url();
  }
