body {
  margin-top: 50px;
  font-family:Helvetica;
  color: black;
  font-size: 18px;
  font-weight: 500;
  }
.main-header {
  font-family: 'Cinzel', serif;
  color: white;
  background-image: url(imgs/background.jpg);
  background-position: center ;
  background-size:cover ;
  height: 50vh;
  font-size: 90px;
  text-align: center;
  letter-spacing: 10px;
}
h1 {
  padding-top: 40vh;
}
.background {
  background-image: url();
}
.line {
  height: 500px;
  position: absolute;
  left: 75%;
  margin-left: 50px;
}

.sub-header {
  font-weight: 700;
}
h2 {
  font-size: 30px;
  float: right;
  padding-right: 650px;
}
.boxed {
  border:1px solid white;
  box-sizing: content-box;
  width: 670px;
  line-height: 1.6; 
  float: right;
  padding-right: 650px;
  padding-bottom: 40px;

}

